html {
    font-size: 14px;
   
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
        
    }
}

html {
  position: relative;
  min-height: 100%;

}

body {
  margin-bottom: 60px;

}
table {
    border: 2px solid blue;
    border-radius: 20px;
    background-color: #a4c714df;
    border-bottom: 1px solid #ddd;
    
}
col-md-4 {
    background-color: #a4c714df;
}